Application.UserInterface/Service References/OnLineService/OnLineService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfVoyageQueryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoyageQueryDTO" nillable="true" type="tns:VoyageQueryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoyageQueryDTO" nillable="true" type="tns:ArrayOfVoyageQueryDTO" />
  <xs:complexType name="VoyageQueryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoNave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETA_ETD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCierreDireccionamiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreNave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puerto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalPortuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transportista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Viaje_Vuelo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoyageQueryDTO" nillable="true" type="tns:VoyageQueryDTO" />
</xs:schema>