3. Presentation Tier/Delfin.Principal/Service References/NextSoftService/NextSoftService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.103.13:766/NextSoftService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.103.13:766/NextSoftService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" />
  <xs:element name="ExecuteSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSQLResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSQLNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSQLNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExecuteSQLNonQueryResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oSobrestadiaBE" nillable="true" type="q2:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oSobrestadiaBE" nillable="true" type="q3:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oSobrestadiaBE" nillable="true" type="q4:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oSobrestadiaBE" nillable="true" type="q5:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="GetAllSobrestadiaResult" nillable="true" type="q6:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSobrestadiaByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oSobrestadiaBE" nillable="true" type="q7:COM_Sobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSobrestadiaByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSobrestadiaByFilterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDetSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oDetSobrestadiaBE" nillable="true" type="q8:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDetSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDetSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oDetSobrestadiaBE" nillable="true" type="q9:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDetSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oDetSobrestadiaBE" nillable="true" type="q10:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDetSobrestadiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetSobrestadia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oDetSobrestadiaBE" nillable="true" type="q11:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetSobrestadiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="GetAllDetSobrestadiaResult" nillable="true" type="q12:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetSobrestadiaByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" minOccurs="0" name="oDetSobrestadiaBE" nillable="true" type="q13:COM_DetSobrestadia_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetSobrestadiaByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetSobrestadiaByFilterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>