3. Presentation Tier/Delfin.Comercial(Old)/Service References/AppService/DelfinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DelfinService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apps.delfingroupco.com.pe:766/DelfinService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apps.delfingroupco.com.pe:766/DelfinService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apps.delfingroupco.com.pe:766/DelfinService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://apps.delfingroupco.com.pe:766/DelfinService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://apps.delfingroupco.com.pe:766/DelfinService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDelfinService_ExecuteSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQL" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_NewExecuteSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:NewExecuteSQL" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_NewExecuteSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewExecuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQLNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLNonQuery" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQLNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_NewExecuteSQLNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:NewExecuteSQLNonQuery" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_NewExecuteSQLNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewExecuteSQLNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GetActiveDirectoryObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveDirectoryObjects" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GetActiveDirectoryObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveDirectoryObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UserValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:UserValidation" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UserValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSisVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSisVoucher" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSisVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSisVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSisVoucherBCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSisVoucherBCopy" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSisVoucherBCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSisVoucherBCopyResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSoftVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSoftVoucher" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateNextSoftVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNextSoftVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_InsertarContribuyente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarContribuyente" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_InsertarContribuyente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarContribuyenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ActualizarContribuyente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContribuyente" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ActualizarContribuyente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarContribuyenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UpdateTableWithBulkCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTableWithBulkCopy" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UpdateTableWithBulkCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTableWithBulkCopyResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UpdatingUsingTableAsParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatingUsingTableAsParameter" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UpdatingUsingTableAsParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatingUsingTableAsParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="IDelfinService">
    <wsdl:operation name="ExecuteSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQL" message="tns:IDelfinService_ExecuteSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLResponse" message="tns:IDelfinService_ExecuteSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewExecuteSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/NewExecuteSQL" message="tns:IDelfinService_NewExecuteSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/NewExecuteSQLResponse" message="tns:IDelfinService_NewExecuteSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLNonQuery" message="tns:IDelfinService_ExecuteSQLNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLNonQueryResponse" message="tns:IDelfinService_ExecuteSQLNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewExecuteSQLNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/NewExecuteSQLNonQuery" message="tns:IDelfinService_NewExecuteSQLNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/NewExecuteSQLNonQueryResponse" message="tns:IDelfinService_NewExecuteSQLNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveDirectoryObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GetActiveDirectoryObjects" message="tns:IDelfinService_GetActiveDirectoryObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GetActiveDirectoryObjectsResponse" message="tns:IDelfinService_GetActiveDirectoryObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/UserValidation" message="tns:IDelfinService_UserValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/UserValidationResponse" message="tns:IDelfinService_UserValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSisVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSisVoucher" message="tns:IDelfinService_GenerateNextSisVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSisVoucherResponse" message="tns:IDelfinService_GenerateNextSisVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSisVoucherBCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSisVoucherBCopy" message="tns:IDelfinService_GenerateNextSisVoucherBCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSisVoucherBCopyResponse" message="tns:IDelfinService_GenerateNextSisVoucherBCopy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSoftVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSoftVoucher" message="tns:IDelfinService_GenerateNextSoftVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GenerateNextSoftVoucherResponse" message="tns:IDelfinService_GenerateNextSoftVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarContribuyente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/InsertarContribuyente" message="tns:IDelfinService_InsertarContribuyente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/InsertarContribuyenteResponse" message="tns:IDelfinService_InsertarContribuyente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContribuyente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/ActualizarContribuyente" message="tns:IDelfinService_ActualizarContribuyente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/ActualizarContribuyenteResponse" message="tns:IDelfinService_ActualizarContribuyente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTableWithBulkCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/UpdateTableWithBulkCopy" message="tns:IDelfinService_UpdateTableWithBulkCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/UpdateTableWithBulkCopyResponse" message="tns:IDelfinService_UpdateTableWithBulkCopy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatingUsingTableAsParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/UpdatingUsingTableAsParameter" message="tns:IDelfinService_UpdatingUsingTableAsParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/UpdatingUsingTableAsParameterResponse" message="tns:IDelfinService_UpdatingUsingTableAsParameter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDelfinService" type="tns:IDelfinService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSQL">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewExecuteSQL">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/NewExecuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLNonQuery">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/ExecuteSQLNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewExecuteSQLNonQuery">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/NewExecuteSQLNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDirectoryObjects">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GetActiveDirectoryObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserValidation">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/UserValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSisVoucher">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GenerateNextSisVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSisVoucherBCopy">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GenerateNextSisVoucherBCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNextSoftVoucher">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GenerateNextSoftVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarContribuyente">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/InsertarContribuyente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContribuyente">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/ActualizarContribuyente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTableWithBulkCopy">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/UpdateTableWithBulkCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatingUsingTableAsParameter">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/UpdatingUsingTableAsParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DelfinService">
    <wsdl:port name="BasicHttpBinding_IDelfinService" binding="tns:BasicHttpBinding_IDelfinService">
      <soap:address location="http://apps.delfingroupco.com.pe:766/DelfinService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>