Application.UserInterface/Service References/NextSoftService/NextSoftService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="COM_Sobrestadia_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUDI_FecCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_FecMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_UsrCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDI_UsrMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONT_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="ENTC_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="SOES_Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="SOES_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="SOES_FecFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SOES_FecIni" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SOES_Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOES_ServiceContract" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COM_Sobrestadia_BE" nillable="true" type="tns:COM_Sobrestadia_BE" />
  <xs:complexType name="COM_DetSobrestadia_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUDI_FecCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_FecMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_UsrCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDI_UsrMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACK_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="PUER_CodDestino" type="xs:int" />
      <xs:element minOccurs="0" name="SOES_Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="SOES_DiasSobrestadiaCliente" type="xs:short" />
      <xs:element minOccurs="0" name="SOES_Item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COM_DetSobrestadia_BE" nillable="true" type="tns:COM_DetSobrestadia_BE" />
</xs:schema>